.about_main {
  margin-top: 6rem;
}

.story_container {
  width: 100%;
  margin-top: 6rem;
}

.story_time {
  width: 80%;
  margin-inline: auto;
}

.story_header {
  text-align: center;
  margin-bottom: 2rem;
  color: #543324;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1.2rem, 0.65rem + 2.75vw, 3.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.story {
  color: #292f36;
  font-family: Jost;
  font-size: clamp(1rem, 0.8393rem + 0.8036vw, 1.5625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01563rem;
}

.main_wrap {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-inline: auto;
  justify-content: space-between;
}

.a_wrap {
  background: url(/modern.jpg) no-repeat center;
  width: 32%;
  height: 75vh;
  border-radius: 0.675rem;
}

.c_wrap {
  background: url(/river.jpg) no-repeat center;
  width: 32%;
  height: 75vh;
  border-radius: 0.675rem;
}

.d_wrap {
  background: url(/op.jpg) no-repeat center;
  width: 32%;
  height: 75vh;
  border-radius: 0.675rem;
}

.card_header {
  color: #fde9e2;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1.2rem, 0.65rem + 2.75vw, 2.825rem);
  filter: brightness(100%);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  margin-top: 7rem;
}

.cover {
  width: 90%;
  margin-inline: auto;
}

.card_desc {
  color: #fde9e2;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(0.8rem, 0.6357rem + 0.8214vw, 1.375rem);
  filter: brightness(100%);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  margin-top: 2rem;
}

.card_desc2 {
  color: #573324;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(0.8rem, 0.6357rem + 0.8214vw, 1.375rem);
  filter: brightness(100%);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
  margin-top: 2rem;
}

.mask {
  color: #292f36;
}

.brochure {
  margin-top: 2rem;
  margin-inline: auto;
  width: fit-content;
  background-color: #573324;
  padding: 0.875rem 0.75rem;
  border-radius: 0.675rem;
  transition: all 500ms;
}

.brochure > p {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: clamp(0.75rem, 0rem + 1.25vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.0225rem;
}

@media (max-width: 767px) {
  .story_time {
    width: 95%;
    margin-inline: auto;
  }

  .main_wrap {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-inline: auto;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .a_wrap {
    background: url(/modern.jpg) no-repeat center;
    width: 82.5%;
    height: 75vh;
    border-radius: 0.675rem;
  }

  .c_wrap {
    background: url(/river.jpg) no-repeat center;
    width: 82.5%;
    height: 75vh;
    border-radius: 0.675rem;
  }

  .d_wrap {
    background: url(/op.jpg) no-repeat center;
    width: 82.5%;
    height: 75vh;
    border-radius: 0.675rem;
  }
}
