.about_main{
    margin-top: 6rem;
}

.story_container{
    width: 100%;
    margin-top: 6rem;
}

.story_time{
    width: 80%;
    margin-inline: auto;
}

.story_header{
    text-align: center;
    margin-bottom: 2rem;
    color: #543324;
    font-family: DM Serif Display;
    font-size: clamp(1.2rem, 0.65rem + 2.75vw, 3.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.story{
    color: #292F36;
    font-family: Jost;
    font-size: clamp(1rem, 0.8393rem + 0.8036vw, 1.5625rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01563rem;
}

.storyy{
    text-align: center;
    margin-block: 1rem;
    color: #543324;
    font-family: DM Serif Display;
    font-size: clamp(1.2rem, 0.65rem + 2.75vw, 2.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.brochure{
    margin-top: 2rem;
    margin-inline: auto;
    width: fit-content;
    background-color: #573324;
    padding: 0.875rem 0.75rem;
    border-radius: 0.675rem;
    transition: all 500ms;
}

.brochure > p{
    color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: clamp(0.75rem, 0rem + 1.25vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.0225rem;
}

@media (max-width: 767px) {
    .story_time{
        width: 95%;
        margin-inline: auto;
    }
}