.nav_container{
    width: 100%;
    padding-block: 0.5rem; /* change to 2rem on launch*/
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    border-bottom: none;
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.6);
}

nav{
    width: 85%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* change to space etween upon launch */
    align-items: center;
}

.home{
    width: 15%; /* change to 25% upon launch */
}

.pages{
    width: 30%;
    display: flex; /* change to display flex upon launch */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Link{
    text-decoration: none;
    color: #573324;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.675rem, 0.0286rem + 1.3571vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    transition: all 500ms;
}

.Link_active{
    text-decoration: underline;
    color: #573324;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.675rem, 0.0286rem + 1.3571vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    transition: all 500ms;
}

.consultation{
    background-color: #573324;
    padding: 0.875rem 0.75rem;
    border-radius: 0.675rem;
    transition: all 500ms;
}

.consultation_active{
    background-color: black;
    padding: 0.875rem 0.75rem;
    border-radius: 0.675rem;
    transition: all 500ms;
}

.consultation:active{
    transform: scale(0.5);
}

.Link22{
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.675rem, 0.0286rem + 1.3571vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    transition: all 500ms;
}

.Link22_active{
    text-decoration: underline;
    color: white;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.675rem, 0.0286rem + 1.3571vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    transition: all 500ms;
}


@media (max-width: 590px) {
    .nav_container{
        width: 100%;
        padding-block: 1rem; /* change to 2rem on launch*/
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        border-bottom-left-radius: 3.5rem;
        border-bottom-right-radius: 3.5rem;
        border-bottom: none;
        box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.6);
    }

    .home{
        width: 25%;
    }

    .pages{
        width: 50%;
        display: flex; /* change to display flex upon launch */
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 0%;
    }
}
