.nav_container{
    width: 100%;
    padding-block: 1rem; /* change to 2rem on launch*/
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background: transparent ;
    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    border-bottom: none;
    backdrop-filter: blur(5px);
    filter: brightness(75%);
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.6);
}

nav{
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; /* change to space etween upon launch */
    align-items: center;
}

.home{
    width: 25%; /* change to 25% upon launch */
}

.pages{
    width: 60%;
    display: none; /* change to display flex upon launch */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Link{
    text-decoration: none;
    color: #573324;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.6rem, 0.0286rem + 1.3571vw, 1.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    transition: all 500ms;
}

.Link:active{
    color: blue;
}

@media (max-width: 767px) {
    nav{
        width: 90%;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        justify-content: center; /* change to space etween upon launch */
        align-items: center;
    }
}
