@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  overflow-x: none;
  background-color: #fde9e2;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

/* ::-webkit-scrollbar {
    width: 0;
    display: none;
} */
