@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  /* position: relative; to disale scroll on ios */
  background-color: #fde9e2;
  /* height: 100%; /* remove this totally upon launch*/
  /* overflow: hidden; remove this totally upon launch */
}

img {
  max-width: 100%;
}

/* ::-webkit-scrollbar {
    width: 0;
    display: none;
} */
