.service_main{
    margin-top: 6rem;

    width: 100vw;
}

.service_container{
    width: 100%;
    margin-top: 6.5rem;
}

/* .service_list{
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    place-items: center;
    gap: 2.5rem;
} */

.service_list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.service_list > *{
    flex: 1;
}

.service_content{
    min-width: 250px;
    width:  100%;
    border-radius: 1.875rem;
    background: #FFF;
    padding: 5.1875rem 1.25rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.service_content2{
    min-width: 280px;
    width:  100%;
    border-radius: 1.875rem;
    background: #F4F0EC;
    padding: 5.1875rem 1.25rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.service_title{
    color: #A52A2A;
    text-align: center;
    font-family: DM Serif Display;
    font-size: clamp(1rem, 0.8393rem + 0.8036vw, 1.5625rem);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.service_desc{
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.8rem, 0.6357rem + 0.8214vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
    margin-top: 0.5rem;
}

.workflow_container{
    width: 100%;
    margin-top: 12.5rem;
}

.workflow{
    width: 80%;
    margin-inline: auto;
    border-radius: 4.375rem;
    background: #F4F0EC;
    padding: 8rem 7.25rem;
}

.workflow_header{
    color: #A52A2A;
    text-align: center;
    font-family: DM Serif Display;
    font-size: clamp(1.2rem, 0.65rem + 2.75vw, 3.125rem);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.workflow_desc{
    color: #4D5053;
    text-align: center;
    font-family: Jost;
    font-size: clamp(0.8rem, 0.6357rem + 0.8214vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
    margin-block: 0.25rem 6.25rem;
}

.workflow_a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 3rem;
}

.workflow_c{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-block: 3rem;
}

.workflow_img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workflow_div{
    width: 45%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.workflow_title{
    color: #A52A2A;
    text-align: left;
    font-family: DM Serif Display;
    font-size: clamp(1rem, 0.6607rem + 1.6964vw, 2.1875rem);
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.workflow_guide{
    text-align: left;
    color: #4D5053;
    font-family: Jost;
    font-size: clamp(0.8rem, 0.6357rem + 0.8214vw, 1.375rem);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01375rem;
    margin-top: 0.25rem; 
}

@media (max-width: 767px){

    .service_list{
        width: 95%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        place-items: center;
        gap: 2.5rem;
    }

    .workflow{
        width: 95%;
        margin-inline: auto;
        border-radius: 4.375rem;
        background: #F4F0EC;
        padding: 3rem 2rem;
    }

    .workflow_a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-block: 7rem;
    }
    
    .workflow_c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 7rem;
        gap: 2rem;
    }
    
    .workflow_img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .workflow_div{
        width: 100%;
        padding: 1rem 2rem;
        border: none;
        border-radius: 1rem;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}